body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --rosa: #EE0E51;
  --primero: #5680e9;
  --segundo: #CF79DC;
  --tercero: #FF7BB4;
  --cuarto: #FF9986;
  --quinto: #FFC866;
  --sexto: #F9F871;
}