.categorias-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #ffffff7a;
  margin-top: 2em;
  border-radius: 1em;
}

.categorias-container h2{
  text-align: center;
  background-color: #fff;
}


.categorias-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Esto crea dos columnas con el mismo ancho */
  gap: 10px;
}

.categoria-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #fff;
}

.categoria-button:hover {
  background-color: #e0e0e0;
}

.categoria-button.selected {
  background-color: var(--rosa) !important;
  color: #fff;
}
  