
body:has(.box)
{
    height: 100vh;
    background-image: url("../../public/background.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size:cover;
}


.box .MuiTypography-h5
{
    color:black;
    background-color: white;
    border: 0.2em solid black;
    border-radius: 10em;
}