/* Ranking.css */


/* Estilos personalizados para tu componente Ranking */
.container {
   
    align-items: flex-start;        /* Alinear elementos a la izquierda */
    position: relative;
}



.table-centered-content{
    width: 100%;
}

.centered-content {
    width: 30%;                    /* Ocupar todo el ancho */
    text-align: right;              /* Alinear el texto a la derecha */
    margin-bottom: 20px;
    background-color: #ffffff7a;
    position: relative;
    border-radius: 1em;
}

.label-large {
    margin-bottom: 10px;
    font-weight: bold;
    width: 100%;
    max-width: 100%;
}

.select-large {
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 5vh;
}

table {
    width: 80%;
    border-radius: 8px;
    border-collapse: separate; /* Usar 'separate' para poder especificar 'border-spacing' */
    border-spacing: 0 15px; /* Espacio horizontal y vertical entre las celdas */
  }
  
  .table th,
  .table td {
    color: #EE0E50; /* Letra rosa */
    padding: 10px 15px; /* Ajusta el espaciado de las celdas */
  }

  .title {
    width: 100%;                    /* Ocupar todo el ancho */
    text-align: right;              /* Alinear el texto a la derecha */
}