 /* Estilo para las celdas de la tabla */
 th, td {
  padding: 1em;
  text-align: center;
}

/* Estilo para el encabezado de la tabla */
th {
  background-color: #ffffff; /* Color de fondo del encabezado */
}

.table tbody tr {
  background-color: rgba(255, 255, 255, 0.5); /* Fondo medio transparente */
  
  margin-bottom: 10px; /* Espacio entre cada fila */
}
/* Estilo para las filas al pasar el ratón */

.principal{
  height: 100vh; /* Ocupar toda la altura de la pantalla */
  width: 100vw;  /* Ocupar toda la anchura de la pantalla */
  background-color: #fff;
}