 /* Estilo para las celdas de la tabla */
 th, td {
  padding: 1em;
  text-align: center;
}

/* Estilo para el encabezado de la tabla */
th {
  background-color: #ffffff; /* Color de fondo del encabezado */
}

.table tbody tr {
  background-color: rgba(255, 255, 255, 0.5); /* Fondo medio transparente */
  border-bottom: 1px solid #EE0E51; /* Borde inferior del mismo color que el fondo */
  margin-bottom: 10px; /* Espacio entre cada fila */
}
/* Estilo para las filas al pasar el ratón */
